.app {
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  padding: 0 25px;
}
.header .user {
  margin-right: 20px;
} 

.button {
  background-color: white;
  border: 2px solid purple;
  padding: 5px 13px;
}

.input {
  background-color: white;
  border: 2px solid orange;
  height: 24px;
}

.courses {
  padding: 15px 25px;
}

.courses-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.course-card {
  display: flex;
  padding: 10px 20px;
  border: 2px solid green;
}
.course-card:not(:last-child) {
  margin-bottom: 15px;
}
.course-card .course-card_details {
  min-width: 230px;
  margin-left: 30px;
}
